*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Gilroy-Heavy', sans-serif;
}

htmlm,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100vh;
    width: 100%;
}

#back{
    height: 100vh;
    width: 100%;
    background-color: black;
}

#back img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#top{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
}

#workingarea{
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    max-width: 1920px;
    /* border: 1px solid red; */
    
    
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 40px 0;
}

#navbar img{
    height: 60px;
}

#nleft, #nright{
    display: flex;
    align-items: center;
    gap: 50px;
}

#navbar a{
    pointer-events: all;
    color: white;
    font-family: 'Gilroy-Heavy', sans-serif;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#hero{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-0% , -50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
}

#heroleft{
    width: 50%;
    
    
}

#heroleft .elem{
    overflow: hidden;
    height: 9vw;
    

}

#heroleft .elem h1{
   
    line-height: .9;
    font-family: "kajiro";
    font-weight: 100;
    font-size: 10vw;
    color: white;
}

#heroleft button{
    pointer-events: all;
    padding: .8vw 2vw;
    font-size: 3vw;
    font-family: "kajiro";
    background-color: white;
    border: none;
}

#heroright{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 20%;
    color: white;
}

#heroright p{
    font-size: 14px;
    font-weight: 300;
    text-align: right;
}

#heroright .imagediv{
    width: 100%;
    height: 170px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-image: url(https://images.unsplash.com/photo-1524502397800-2eeaad7c3fe5?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

#heroright p:nth-child(3){
    margin-bottom: 50px;
}